html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.pagination li {
  padding: 0.7rem;
  margin: 0 0.8rem;
  border: 1px solid transparent;
  border-radius: 50%;
}
.pagination li:hover {
  padding: 0.7rem;
  background-color: rgb(26, 26, 26);
  color: white;
}

